<% if(success && success.length) { %>
<div class="success flash">
  <p><%= success %></p>
  <button>
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>
<% } %> <% if(failure && failure.length) { %>
<div class="failure flash">
  <p><%= failure %></p>
  <button>
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>
<% } %>

<script>
  let flashBtn = document.querySelector(".flash button");
  let flashBox = document.querySelector(".flash");

  flashBtn.addEventListener("click", () => {
    flashBox.style.display = "none";
  });
</script>
