<div class="footer">
    <div class="f-panel">
        <div class="f-option">
            <div class="f-icon"><i class="fa-solid fa-house"></i></div>
            <div class="f-name">Home</div>
        </div>
        <div class="f-option">
            <div class="f-icon"><i class="fa-solid fa-chart-simple"></i></div>
            <div class="f-name">Graph</div>
        </div>
        <div class="f-option">
            <div class="f-icon"><i class="fa-solid fa-inbox"></i></div>
            <div class="f-name">Transaction</div>
        </div>
         <div class="f-option">
            <div class="f-icon"><i class="fa-solid fa-gear"></i></div>
            <div class="f-name">Settings</div>
        </div>
    </div>
    <div class="profile">
        <div class="p-name">-Name-</div>
        <div class="p-photo"></div>
    </div>
</div>