<div class="navbar">
    <div class="nav-brand">
       <a href="/"> Expense Tracker</a>
    </div>
    <div class="nav-option">
        <div class="nav-month">
        <a href="/monthWise?month=Jan">January</a>
        <a href="/monthWise?month=Feb">February</a>
        <a href="/monthWise?month=Mar">March</a>
        <a href="/monthWise?month=Apr">April</a>
        <a href="/monthWise?month=May">May</a>
        <a href="/monthWise?month=Jun">June</a>
        <a href="/monthWise?month=Jul">July</a>
        <a href="/monthWise?month=Aug">August</a>
        <a href="/monthWise?month=Sep">September</a>
        </div>
    </div>
</div>
