<div class="navbar">
    <div class="nav-brand">
        Expense Tracker
    </div>
    <div class="nav-option">
        <div class="nav-month">
        <a href="">January</a>
        <a href="">February</a>
        <a href="">March</a>
        <a href="">April</a>
        <a href="">May</a>
        <a href="">June</a>
        <a href="">July</a>
        <a href="">August</a>
        <a href="">September</a>
        </div>
        <!-- <div class="add-expense">
            <button><i class="fa-solid fa-plus"></i></button>
            <div class="add-link">
                <div><a href="/addExpense">Expense</a></div>
                <div><a href="/addIncome">Income</a></div>
            </div>
        </div> -->
    </div>
</div>
