<div class="navbar">
  <div class="nav-brand">
    <a href="/">Money Map</a>
    <div class="user-panel">
      <% if(!currUser) {%>
      <a href="/signup">SignUp</a>
      <a href="login">LogIn</a>
      <% } %> <% if(currUser){ %>
      <a href="logout">LogOut</a>
      <% } %>
    </div>
  </div>
  <div class="nav-option">
    <div class="nav-month">
      <a href="/monthWise?month=Jan">January</a>
      <a href="/monthWise?month=Feb">February</a>
      <a href="/monthWise?month=Mar">March</a>
      <a href="/monthWise?month=Apr">April</a>
      <a href="/monthWise?month=May">May</a>
      <a href="/monthWise?month=Jun">June</a>
      <a href="/monthWise?month=Jul">July</a>
      <a href="/monthWise?month=Aug">August</a>
      <a href="/monthWise?month=Sep">September</a>
      <a href="/monthWise?month=Oct">October</a>
      <a href="/monthWise?month=Nov">November</a>
      <a href="/monthWise?month=Dec">December</a>
    </div>
  </div>
</div>
