<% layout("./layouts/boilerplate") %>

<div class="edit add">
  <h2>Add New Expense</h2>

  <form method="post">
    <div>
      <label for="expense_title" id="expense_title">Enter Title</label>
      <input
        type="text"
        name="expense_title"
        id="expense_title"
        placeholder="eg. Bike repair"
        required
      />
    </div>
    <div>
      <label for="expense_amount">Enter Amount</label>
      <input
        type="number"
        name="amount"
        id="expense_amount"
        placeholder="eg. 1200"
        required
      />
    </div>

    <div>
      <label for="expense_category">Select Category</label>
      <select name="category" id="expense_category">
        <option value="Electricity">Electricity</option>
        <option value="Rent">Rent</option>
        <option value="Grocery">Grocery</option>
        <option value="Travel">Travel</option>
        <option value="Food">Food</option>
        <option value="Medicine">Medicine</option>
        <option value="Home">Home</option>
        <option value="Other" selected>Other</option>
      </select>
    </div>

    <button>Add</button>
  </form>
</div>
