<% layout("./layouts/boilerplate") %>


<div><br>
    <form action="" method="post" >
       Enter title : <input type="text" name="income_source"><br>
       Enter price : <input type="number" name="amount"><br>
       Category : <select name="category" id="">
           <option value="Salary">Salary</option>
           <option value="Freelance">Freelance</option>
           <option value="Gift">Gift</option>
           <option value="Investment">Investment</option>
           <option value="Side Hustle">Side Hustle</option>
           <option value="Sale">Sale</option>
           <option value="Interest">Interest</option>
           <option value="Online Income">Online Income</option>
           <option value="Other">Other</option>
       </select><br>
        <button>Add</button>
    </form>
</div>