<% layout("./layouts/boilerplate") %>


<div><br>
    <form action="" method="post" >
       Enter title : <input type="text" name="expense_title"><br>
       Enter price : <input type="number" name="amount"><br>
       Category : <select name="category" id="">
           <option value="Electricity">Electricity</option>
           <option value="Rent">Rent</option>
           <option value="Grocery">Grocery</option>
           <option value="Travel">Travel</option>
           <option value="Other">Other</option>
       </select><br>
        <button>Add</button>
    </form>
</div>