.category-wise h2{
    background-color: rgb(235, 235, 235);
    padding: 1rem;
    /* border: 1px solid black; */
    border-radius: 1rem;
    
    /* color: grey; */
}

.cat-row{
    display: flex ;
    /* justify-content: space-between; */
    align-items: center;
    background-color: azure;
    margin: 1rem 0;
}

.cat-row .icon{
    margin-right: 2rem ;
}