.category-wise {
  animation: visible 0.3s ease-in;
}

.category-wise h2 {
  background-color: rgb(242, 241, 241);
  padding: 1rem;
  border-radius: 1rem;
}

.cat-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 0 1rem;
}

.cat-row .icon {
  margin-right: 2rem;
}

.cat-row h3 {
  margin: 0;
}

.cat-row p {
  font-size: large;
  margin: 0;
}

.cat-info {
  display: flex;
  align-items: center;
}

.cat-info h3 {
  font-size: large;
}

.cat-info p {
  font-size: small;
}

/* Month-history */

.month-expense {
  width: 100% !important;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  justify-content: space-between;
  /* animation: visible 0.5s ease-in; */
}

.month-history {
  display: flex;
  justify-content: space-between;
  padding: 0 10rem;
  /* width: 100vw; */
}

.month-page {
  /* width: 100%; */
  height: 100%;
  padding: 1rem;
  margin-bottom: 5rem;
  /* padding-bottom: 10rem; */
  animation: visible 0.3s ease-in;
  /* animation-timeline: view(50% auto); */
}

.month-page h2 {
  background-color: rgb(242, 241, 241);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  /* animation: scale 0.3s ease-in; */
}

.month-page h3 {
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  text-align: center;
  /* animation: scale 0.5s ease-in; */
}

.month-data {
  width: 45%;
}

.month-expense .icon {
  height: 5rem;
  width: 5rem;
  /* animation: scale 0.3s ease-in; */
}

.monthly {
  width: 50%;
}

/* category - response */
@media (max-width: 420px) {
  .category-wise {
    padding-top: 0.5rem;
  }
  .cat-row {
    padding: 0;
    scale: 0.95;
  }
  .cat-row .icon {
    margin-right: 1rem;
  }
  .cat-amount {
    /* padding: 0; */
    font-size: x-small;
  }
}

@media (max-width: 360px) {
  .cat-row {
    scale: 0.9;
  }
}

/* Month-wise */

@media (max-width: 1024px) {
  .month-history {
    padding: 0 5rem;
  }
}

@media (max-width: 850px) {
  .month-page {
    padding: 1rem 0;
    /* padding-top: 1rem; */
  }
  .month-history {
    padding: 0 3rem;
  }
}

@media (max-width: 720px) {
  .month-history {
    padding: 1rem;
    flex-direction: column;
  }
  .month-data {
    width: 100%;
  }
  .month-expense {
    margin: 0.7rem 0;
  }
}
