.home-section {
  font-size: larger;
  width: 55%;
  height: 100%;
  position: fixed;
  right: 0;
  margin: 2rem 4rem 2rem 2rem;
}

.toggle {
  height: 3rem;
  margin-bottom: 2rem;
  display: flex;
  border: 0.1rem solid rgb(114, 87, 255);
  border-radius: 0.5rem;
}

.toggle button {
  width: 50%;
  height: 100%;
  border: none;
  font-size: medium;
  font-weight: bold;
  color: rgb(114, 87, 255);
  transition: all 0.2s ease-in;
}

.toggle-bg {
  background-color: white;
  color: rgb(114, 87, 255);
}

#expense-toggle {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
#income-toggle {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.toggle-effect {
  border-radius: 0.5rem;
  background-color: rgb(114, 87, 255);
  color: white !important;
}

.exp-page {
  transition: all 0.2s ease-in;
}

.inc-page {
  display: none;
  transition: all 0.2s ease-in;
}

.bar {
  height: 12rem;
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  box-shadow: 2px 2px 5px grey;
}

.bar-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar-head a {
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 600;
  color: black;
  border: 2px solid black;
  padding: 0.4rem;
  border-radius: 1rem;
  opacity: 0.7;
}

.bar-head a:hover {
  opacity: 1;
}

.bar h1,
h5 {
  margin: 0;
}

.progress-bar {
  width: 100%;
  height: 2rem;
  background-color: rgb(244, 243, 243);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  font-size: small;
}

.progress {
  height: 100%;
  background-color: rgb(255, 94, 137);
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  text-align: left;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  color: white;
}

.progress-bar span {
  color: black;
}

.income-progress {
  background-color: rgb(114, 87, 255);
}

.income-progress .progress {
  background-color: rgb(114, 87, 255);
}

.spend-category {
  height: 10rem;
  padding-top: 0.5rem;
  padding-left: 2rem;
}

.spend-category h3 {
  margin: 0;
  padding-top: 0.5rem;
}

.category {
  overflow-x: auto;
  display: flex;
  scrollbar-width: none;
  margin-bottom: 10rem;
}

.card {
  flex-shrink: 0;
  margin: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-icon {
  height: 4rem;
  width: 4rem;
  background-color: antiquewhite;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card a {
  text-decoration: none;
}

.card-icon i {
  color: white;
}

.card p {
  margin: 0;
  margin-top: 0.2rem;
  font-size: medium;
}
