* {
  font-family: sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

body {
  margin: 0 !important;
  padding: 0;
  background-color: white;
}

.content {
  margin-top: 15vh;
  padding: 0 3rem;
}

.landing-page {
  width: 100%;
  /* height: 100vh; */
  /* background-color: azure; */
  display: flex;
}

/* error */

.failure {
  background-color: rgb(252, 199, 199);
  border: 2px solid red;
}

.error {
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0 10rem;
}

.success {
  background-color: rgb(142, 214, 242);
  border: 2px solid rgb(70, 199, 250);
}

.flash {
  padding: 0 1rem;
  border-radius: 0.5rem;
  margin: 0 10rem;
  display: flex;
  justify-content: space-between;
}

.flash p {
  color: white;
  font-weight: bold;
  font-size: larger;
}

.flash button {
  border: none;
  background-color: transparent;
  font-size: x-large;
}
