.navbar{
     background: linear-gradient(90deg, rgb(94,91,255),rgb(155,79,255));
     height: 10vh;
     padding: 1rem 2rem;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     position: fixed;
     top: 0;
     width: 100%;
}
.nav-brand a{
    font-size: larger;
    padding: 0rem 1rem;
    color: white;
    text-decoration: none;
}

.nav-month {
    display: flex;
}

.nav-month a{
    color: #ccc;
    text-decoration: none;
    font-size: medium;
    padding: 0rem 0.5rem 0rem 1rem;
}

.nav-month a:hover{
    color: white;
}
