.navbar {
  background: linear-gradient(90deg, rgb(94, 91, 255), rgb(155, 79, 255));
  height: 11vh;
  padding: 1rem 2rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
}

.nav-brand {
  display: flex;
  justify-content: space-between;
  /* padding-bottom: 1rem; */
  margin-bottom: 1rem;
}

.nav-brand a {
  font-size: larger;
  padding: 0rem 1rem;
  color: white;
  text-decoration: none;
}

.user-panel {
  font-size: small;
  /* padding: 1rem; */
  margin-right: 4rem;
}
.user-panel a {
  padding: 0.2rem;
}

.user-panel a:hover {
  text-decoration: underline;
}

.nav-month {
  display: flex;
  /* padding-right: 2rem; */
}

.nav-month a {
  color: #ccc;
  text-decoration: none;
  font-size: medium;
  padding: 0rem 0.8rem 0.5rem 0.8rem;
  flex-shrink: 0;
}

.nav-active {
  border-bottom: 0.35rem solid rgb(226, 226, 226);
  border-radius: 0.2rem;
}

.nav-month a:hover {
  color: white;
  /* font-size: large; */
}

.nav-option {
  overflow-x: auto;
  scrollbar-width: none;
  margin-right: 3rem;
}

@media (max-width: 1024px) {
  .nav-brand a {
    font-size: x-large;
  }
  .user-panel a {
    font-size: large;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 1rem 0;
    padding-bottom: 0;
  }

  .nav-brand a {
    font-size: large;
  }
  .user-panel a {
    font-size: small;
  }

  .user-panel {
    margin-right: 0.5rem;
  }
  .nav-option {
    width: 100%;
  }
}
